<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_poll_options.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,900&display=swap" rel="stylesheet">

    <title>Admin-Results</title>
  </head>
  
  <body>
    <span><h1 id="title">CURRENT RANKINGS</h1></span>

    <div class="container">
      <span class="instructions">Here are the results of your poll!</span>
      <span class="small-instructions">Ordered from most to least preferred (top to bottom)</span>
      <div class="options">
        <% for(let i = 0; i < numPolls; i++){ %>
          <div class="each-option"><%= options[i] %></div>
          <% } %>
      </div>
    </div>
  </body>
</html>
